[Unit]
Description=Leptos Rust App
After=network.target

[Service]
User=okawak
Group=okawak
ExecStart=/home/okawak/.cargo/bin/cargo leptos serve --release
WorkingDirectory=/home/okawak/okawak_blog
Restart=always
RestartSec=5
Environment=AWS_PROFILE=blog-s3
Environment=AWS_REGION=ap-northeast-1
Environment=AWS_BUCKET_NAME=okawak-blog-resources-bucket
Environment=RUST_LOG="info"

[Install]
WantedBy=multi-user.target
