@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap");

@theme {
  --font-sans: "Noto Sans JP", sans-serif;
  --color-bg: #1f1a17;
  --color-bg-soft: #2b2522;

  --color-text: #eae3dc;
  --color-text-soft: #b5a99e;

  --color-accent: #c2b280;
  --color-danger: #a45a52;
  --color-highlight: #8aa99f;
}

@layer base {
  body {
    font-family: var(--font-sans);
    background-color: var(--color-bg);
    color: var(--color-text);
    @apply antialiased leading-relaxed;
  }

  ::selection {
    background-color: var(--color-highlight);
    color: var(--color-bg);
  }
}
